<div class="bg-slate-800 text-white h-14 w-screen flex flex-row items-center">
  <ul class="flex flex-row items-center px-4">
    <li
      routerLink="/"
      class="pl-5 hover:text-cyan-100 hover:cursor-pointer hover:text-xl"
    >
      Curso de Angular
    </li>
    <li
      routerLink="/about"
      class="pl-5 hover:text-cyan-100 hover:cursor-pointer hover:text-xl"
    >
      Acerca
    </li>
    <li
      routerLink="/services"
      class="pl-5 hover:text-cyan-100 hover:cursor-pointer hover:text-xl"
    >
      Servicios
    </li>
    <li
      routerLink="/portfolio"
      class="pl-5 hover:text-cyan-100 hover:cursor-pointer hover:text-xl"
    >
      Portafolio
    </li>
    <li
      routerLink="/almacen"
      class="pl-5 hover:text-cyan-100 hover:cursor-pointer hover:text-xl"
    >
      Almacén
    </li>
    <li
      routerLink="/warehouse-details"
      class="pl-5 hover:text-cyan-100 hover:cursor-pointer hover:text-xl"
    >
      Detalles de Almacén
    </li>
  </ul>
</div>
