<div class="bg-slate-100 h-80 rounded-2xl">
  <div class="flex flex-row">
    <img
      class="rounded-xl m-3"
      width="300"
      src="https://picsum.photos/900"
      alt="project 1"
    />
    <div class="m-3 grid grid-rows-12 w-full">
      <h2 class="text-center row-start-1 row-end-2 text-xl">
        Este card viene del componente web
      </h2>
      <p class="row-span-6 row-start-2 row-end-9">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis minima
        laudantium, accusamus nemo fuga earum neque ipsum sequi quae, assumenda
        quidem quia dolores numquam consectetur corporis mollitia, provident
        nulla possimus.
      </p>
      <div class="row-start-9 row-end-12">
        <ul>
          Repo
        </ul>
      </div>
    </div>
  </div>
</div>
