<div class="w-full h-full">
  <div class="rounded flex flex-col justify-center">
    <div>
      <ul class="flex flex-row py-5 items-center justify-center">
        <li
          routerLink="web"
          class="text-white px-4 py-1 mx-3 bg-cyan-700 rounded-xl hover:px-5 hover:py-2 hover:cursor-pointer hover:bg-emerald-600"
        >
          Project1
        </li>
        <li
          class="text-white px-4 py-1 mx-3 bg-cyan-700 rounded-xl hover:px-5 hover:py-2 hover:cursor-pointer hover:bg-emerald-600"
        >
          Project2
        </li>
        <li
          class="text-white px-4 py-1 mx-3 bg-cyan-700 rounded-xl hover:px-5 hover:py-2 hover:cursor-pointer hover:bg-emerald-600"
        >
          Project3
        </li>
        <li
          class="text-white px-4 py-1 mx-3 bg-cyan-700 rounded-xl hover:px-5 hover:py-2 hover:cursor-pointer hover:bg-emerald-600"
        >
          Project4
        </li>
        <li
          class="text-white px-4 py-1 mx-3 bg-cyan-700 rounded-xl hover:px-5 hover:py-2 hover:cursor-pointer hover:bg-emerald-600"
        >
          Project5
        </li>
      </ul>
    </div>
    <div class="bg-slate-100 w-1/2 h-80 rounded-2xl mx-auto">
      <router-outlet></router-outlet>
    </div>
    <!--
    <div class="bg-slate-100 w-1/2 h-80 rounded-2xl">
      <div class="flex flex-row">
        <img
          class="rounded-xl m-3"
          width="300"
          src="https://picsum.photos/900"
          alt="project 1"
        />
        <div class="m-3 grid grid-rows-12 w-full">
          <h2 class="text-center row-start-1 row-end-2 text-xl">Title</h2>
          <p class="row-span-6 row-start-2 row-end-9">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
            minima laudantium, accusamus nemo fuga earum neque ipsum sequi quae,
            assumenda quidem quia dolores numquam consectetur corporis mollitia,
            provident nulla possimus.
          </p>
          <div class="row-start-9 row-end-12">
            <ul>
              Repo
            </ul>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
