<div class="bg-slate-100 w-2/3 h-96 rounded-2xl mx-auto my-10">
  <table class="table w-full border">
    <thead class="table-header-group">
      <tr class="table-row">
        <th class="table-cell text-left">Company</th>
        <th class="table-cell">Contact</th>
        <th class="table-cell">Contact</th>
        <th class="table-cell">Contact</th>
      </tr>
    </thead>
    <tbody class="table-row-group">
      <tr class="table-row">
        <td class="table-cell">Alfreds Futterkiste</td>
        <td class="table-cell">Maria Anders</td>
        <td class="table-cell">Germany</td>
        <td class="table-cell">
          <button
            class="bg-slate-500 text-white rounded-lg p-1"
            (click)="goDetail(43)"
          >
            More info
          </button>
        </td>
      </tr>
      <tr>
        <td class="table-cell">Centro comercial Moctezuma</td>
        <td class="table-cell">Francisco Chang</td>
        <td class="table-cell">Mexico</td>
        <td class="table-cell">
          <button
            class="bg-slate-500 text-white rounded-lg p-1"
            (click)="goDetail(43)"
          >
            More info
          </button>
        </td>
      </tr>
      <tr>
        <td class="table-cell">Francisco Chang</td>
        <td class="table-cell">Mexico</td>
        <td class="table-cell">Mexico</td>
        <td class="table-cell">
          <button
            class="bg-slate-500 text-white rounded-lg p-1"
            (click)="goDetail(43)"
          >
            More info
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
